# ======================
# App
# ======================
APP_NAME=express-boilerplate
APP_HOST=http://localhost
APP_PORT=8000

# ======================
# Verification
# ======================
VERIFICATION_TOKEN_EXPIRY_MINUTES=30

# ======================
# Web Client
# ======================
WEB_CLIENT_URL=http://localhost:3000

# ======================
# Cors
# ======================
CORS_ORIGINS=http://localhost:3000

# ======================
# Database
# ======================
MONGODB_URI=mongodb://localhost:27017/express-boilerplate

# ======================
# Google OAuth
# ======================
GOOGLE_OAUTH_CLIENT_ID=google_oauth_client_id
GOOGLE_OAUTH_CLIENT_SECRET=google_oauth_client_secret
GOOGLE_OAUTH_REDIRECT_URL=google_oauth_redirect_url

# ======================
# JWT
# ======================
JWT_ACCESS_TOKEN_SECRET=jwt_access_token_secret
JWT_ACCESS_TOKEN_EXPIRY_MINUTES=15
JWT_REFRESH_TOKEN_SECRET=jwt_refresh_token_secret
JWT_REFRESH_TOKEN_EXPIRY_MINUTES=43200

# ======================
# Cookies
# ======================
COOKIE_SECRET_KEY=cookie_secret_key
COOKIE_AUTH=cookie_auth

# ======================
# Better Auth
# ======================
BETTER_AUTH_SECRET=better_auth_secret
BETTER_AUTH_BASE_URL=http://localhost:8000

# ======================
# Email (Resend)
# ======================
RESEND_API_KEY=resend_api_key
RESEND_EMAIL_FROM=onboarding@resend.dev

# ======================
# Payment
# ======================
PAYMENT_PROVIDER=stripe

# ======================
# Stripe
# ======================
STRIPE_SECRET_KEY=stripe_secret_key
STRIPE_WEBHOOK_SECRET=stripe_webhook_secret

# ======================
# SePay
# ======================
SEPAY_MERCHANT_ID=sepay_merchant_id
SEPAY_SECRET_KEY=sepay_secret_key

# ======================
# Storage
# ======================
STORAGE_PROVIDER=local

# ======================
# Local Storage
# ======================
LOCAL_STORAGE_DIR=storages

# ======================
# Cloudflare R2
# ======================
R2_ACCOUNT_ID=r2_account_id
R2_ACCESS_KEY_ID=r2_access_key_id
R2_SECRET_ACCESS_KEY=r2_secret_access_key
R2_BUCKET=r2_bucket_name
R2_PUBLIC_BASE_URL=https://pub-xxxxxxxx.r2.dev

# ======================
# Cloudinary
# ======================
CLOUDINARY_CLOUD_NAME=cloudinary_cloud_name
CLOUDINARY_API_KEY=cloudinary_api_key
CLOUDINARY_API_SECRET=cloudinary_api_secret
CLOUDINARY_FOLDER=uploads

# ======================
# Upload
# ======================
UPLOAD_SIZE_LIMIT=10485760 #10MB

# ======================
# Bull board
# ======================
BULL_BOARD_USERNAME=admin
BULL_BOARD_PASSWORD=admin
